.Ads{
    margin: 30px;
}

  
.carimg{
    width: 400px;
    height:300px;
} 
.dimensions{
    width: 400px;
    height: 300px;
 } 
.caption_dim{
    margin-top: 100px;
    font-style: italic;
    font-size: large;
    color: black;
 }
 .carousel-caption {
    width:200px;
    z-index:10;
    color:black;
    text-align:center;
    top:50%;
    left:65%;
    bottom:auto;
    -webkit-transform:translate(0, -50%);
    -ms-transform:translate(0, -50%);
    transform:translate(0, -50%);
}
.retrievedata{

}
.cardim{
    width:400px ;
}
.placingAds{
    display: flex;
   padding: 10px;
   margin-left: 60px;
}